<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title>
      Post New Message
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

<ion-card>

  <ion-card-title>Post Message</ion-card-title>

  <ion-card-content>
    <ion-item class="ion-no-padding">
      <ion-label position="floating">Your message</ion-label>
      <ion-input [(ngModel)]="model.text" name="text"></ion-input>
    </ion-item>

    <ion-item class="ion-no-padding">
      <ion-label position="floating">Image URL:</ion-label>
      <ion-input [(ngModel)]="model.imageUrl" name="imageUrl"></ion-input>
    </ion-item>

    <ion-button (click)="sendPost()">
      Post 
      <ion-icon name="enter-outline" ></ion-icon>
    </ion-button>

  </ion-card-content>

</ion-card>
</ion-content>