
.post{
    border:1px solid grey;
    border-radius: 5px;
    margin: 15px 10px;
    text-align: center;

}


.info{
    margin-top: 5px;
    text-align: left;
    .message{
        font-size: 18px;
        font-weight: bold;
        
    }
    
} 

.user{
    font-family:"Merriweather', serif";
    font-weight: 500;
    text-align:left;
    justify-content: space-between;
    --color:blue;
}